/*
Global Styles CSS
*/
.averia-cursive-font {
  font-family: 'Averia Sans Libre', cursive;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}

.alegreya-font {
  font-family: 'Alegreya Sans', sans-serif;
}

.source-pro-font {
  font-family: 'Source Sans Pro', sans-serif;
}

/*
Main Content CSS
*/
